Repository universalturtles/Lisibilite, pull requests merged in 2020-07, with the labels that each got.

#33 #16: Simple webapp w/o login + #27: [WIP] Django Metrics View
  code/ui/__init__.py
  code/ui/lisibilite_ui/__init__.py
  code/ui/lisibilite_ui/asgi.py
  code/ui/lisibilite_ui/settings.py
  code/ui/lisibilite_ui/urls.py
  code/ui/lisibilite_ui/wsgi.py
  code/ui/lisibilite_ui_app/__init__.py
  code/ui/lisibilite_ui_app/admin.py
  code/ui/lisibilite_ui_app/apps.py
  code/ui/lisibilite_ui_app/migrations/__init__.py
  code/ui/lisibilite_ui_app/models.py
  code/ui/lisibilite_ui_app/static/css/scrolling-nav.css
  code/ui/lisibilite_ui_app/static/images/icon.png
  code/ui/lisibilite_ui_app/static/images/logo.png
  code/ui/lisibilite_ui_app/static/js/scrolling-nav.js
  code/ui/lisibilite_ui_app/static/vendor/bootstrap/css/bootstrap-grid.css
  code/ui/lisibilite_ui_app/static/vendor/bootstrap/css/bootstrap-grid.css.map
  code/ui/lisibilite_ui_app/static/vendor/bootstrap/css/bootstrap-grid.min.css
  code/ui/lisibilite_ui_app/static/vendor/bootstrap/css/bootstrap-grid.min.css.map
  code/ui/lisibilite_ui_app/static/vendor/bootstrap/css/bootstrap-reboot.css
  code/ui/lisibilite_ui_app/static/vendor/bootstrap/css/bootstrap-reboot.css.map
  code/ui/lisibilite_ui_app/static/vendor/bootstrap/css/bootstrap-reboot.min.css
  code/ui/lisibilite_ui_app/static/vendor/bootstrap/css/bootstrap-reboot.min.css.map
  code/ui/lisibilite_ui_app/static/vendor/bootstrap/css/bootstrap.css
  code/ui/lisibilite_ui_app/static/vendor/bootstrap/css/bootstrap.css.map
  code/ui/lisibilite_ui_app/static/vendor/bootstrap/css/bootstrap.min.css
  code/ui/lisibilite_ui_app/static/vendor/bootstrap/css/bootstrap.min.css.map
  code/ui/lisibilite_ui_app/static/vendor/bootstrap/js/bootstrap.bundle.js
  code/ui/lisibilite_ui_app/static/vendor/bootstrap/js/bootstrap.bundle.js.map
  code/ui/lisibilite_ui_app/static/vendor/bootstrap/js/bootstrap.bundle.min.js
  code/ui/lisibilite_ui_app/static/vendor/bootstrap/js/bootstrap.bundle.min.js.map
  code/ui/lisibilite_ui_app/static/vendor/bootstrap/js/bootstrap.js
  code/ui/lisibilite_ui_app/static/vendor/bootstrap/js/bootstrap.js.map
  code/ui/lisibilite_ui_app/static/vendor/bootstrap/js/bootstrap.min.js
  code/ui/lisibilite_ui_app/static/vendor/bootstrap/js/bootstrap.min.js.map
  code/ui/lisibilite_ui_app/static/vendor/jquery-easing/jquery.easing.compatibility.js
  code/ui/lisibilite_ui_app/static/vendor/jquery-easing/jquery.easing.js
  code/ui/lisibilite_ui_app/static/vendor/jquery-easing/jquery.easing.min.js
  code/ui/lisibilite_ui_app/static/vendor/jquery/jquery.js
  code/ui/lisibilite_ui_app/static/vendor/jquery/jquery.min.js
  code/ui/lisibilite_ui_app/static/vendor/jquery/jquery.min.map
  code/ui/lisibilite_ui_app/static/vendor/jquery/jquery.slim.js
  code/ui/lisibilite_ui_app/static/vendor/jquery/jquery.slim.min.js
  code/ui/lisibilite_ui_app/static/vendor/jquery/jquery.slim.min.map
  code/ui/lisibilite_ui_app/templates/displaymetrics.html
  code/ui/lisibilite_ui_app/templates/index.html
  code/ui/lisibilite_ui_app/templates/userinput.html
  code/ui/lisibilite_ui_app/tests.py
  code/ui/lisibilite_ui_app/views.py
  code/ui/manage.py
Labels: Ui/UX, major

#32 #15 generate CSV output
  code/common/Constants.py
  code/common/__init__.py
  code/inputoutput/FileWriter.py
  code/main.py
  code/models/CoreMetrics.py
  code/models/ReadabilityMetrics.py
  code/resources/sample_op.csv
  code/setup.py
  code/utils/helpers/metahelper.py
Labels: backend, code changes, help wanted, major, resource files

#43 42 - Django Secret Key
  code/ui/lisibilite_ui/settings.py
Labels: Security, Ui/UX, code changes, minor fix

#41 35 validate input args
  code/arg_parser.py
  code/config/AppConfiguration.py
Labels: CLI, backend, code changes, enhancement, library, minor fix
